// Personal Access Token(classic)
GITHUB_ACCESS_TOKEN=

// Repository Organizer name
GITHUB_REPOSITORY_OWNER=
// Repository Name
GITHUB_REPOSITORY_NAME=

GITHUB_DOMAIN=github.com
GITHUB_API_DOMAIN=api.github.com